body {
    background-image: url('LogInPhoto.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
form{
    width: 100%;
}
.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a2540;
}
p{
    color: #0a2540;
}
.inputet {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.inputet:focus {
    outline: none;
    border: 2px solid #0a2540;
}
.butoni {
    width: 100%;
    padding: 10px;
    background-color: #0a2540;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
}
.butoni:hover {
    background-color: #0a2540;
}

#signup-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}
#signup-link a {
    color: rgb(124, 171, 184);
    text-decoration: none;
}
#signup-link a:hover {
    text-decoration: underline;
}