body {
    background-image: url('LogInPhoto.png'); /* Fotoja si sfond */
    background-size: cover; /* Mbulo të gjithë faqen */
    background-position: center; /* Qendroje sfondin */
    background-repeat: no-repeat; /* Mos përsërit sfondin */
    margin: 0;
    height: 100vh; /* Lartësia e trupit sa dritarja */
    display: flex;
    justify-content: center; /* Qendron në mes horizontalisht */
    align-items: center; /* Qendron në mes vertikalisht */
}
.signup-container {
    background-color: rgba(255, 255, 255, 0.8); /* Sfondi me pak transparencë për të parë foto-n pas */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}
.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-container .input-field {
    width: 48%;
}
.birthday-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.birthday-container select {
    width: 32%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.mainGender {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.genders {
    flex: 1;
}

.genders label {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s, border-color 0.3s;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #45a049;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.login-link a {
    color: #4CAF50;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
p{
    margin: 0%;
}