body {
    background-image: url('LogInPhoto.png'); /* Fotoja si sfond */
    background-size: cover; /* Mbulo të gjithë faqen */
    background-position: center; /* Qendroje sfondin */
    background-repeat: no-repeat; /* Mos përsërit sfondin */
    margin: 0;
    height: 100vh; /* Lartësia e trupit sa dritarja */
    display: flex;
    justify-content: center; /* Qendron në mes horizontalisht */
    align-items: center; /* Qendron në mes vertikalisht */
}
.signup-container {
    background-color: rgba(255, 255, 255, 0.8); /* Sfondi me pak transparencë për të parë foto-n pas */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.inputet {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
}
.inputetConfirmPassword {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 14px;
}
.inputet:focus {
    border:2px solid  #0a2540;
    outline: none;
}
.inputetConfirmPassword:focus {
    border:2px solid  #0a2540;
    outline: none;
}
.input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-container .inputet {
    width: 48%;
}
.birthday-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 9px;
}
.birthday-container select {
    width: 32%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.mainGender{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
.mainGender .genders{
    display: flex;
    flex-direction: column-reverse;
}
.butoni {
    width: 100%;
    padding: 10px;
    background-color:#0a2540;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.login-link a {
    color: rgb(124, 171, 184);
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
