
body{
       
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        scroll-behavior: smooth;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
}
#mainDiv {
    width: 100%;
    height: auto;
    background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    font-family: 'Montserrat', sans-serif;
	height: 100vh;
	padding-top: 100px;

}