
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f8fc;
    color: #333;
    width: 100%;
}
p{
    color: #0a2540;
}
#loginDiv #butoniLogIn{
    width: 95px;
    height: 30px;
    background-color: rgb(124, 171, 184);
    margin-right: 23px;
}
#home {
    background-image: url("Foto_Kryesore.jpg");
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 610px; 
    width: 100%;
    scroll-margin-top: 125px;
}


.header {
    background-color: #0a2540;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navbar .logo img {
    width: 120px;
    height: auto;
    margin-left: 9px;
}

.navbar nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar nav a:hover {
    color: #f4c542;
}

.cart-icons i {
    color: white;
    margin-left: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}


.hero {
    display: flex;
    justify-content: center;
    
    text-align: center;
    background-image: url("Foto_Kryesore.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 113px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 41px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
}

.hero-content .btn {
    background-color: #0a2540;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hero-content .position {
    margin-bottom: 10px
}
.hero-content .btn:hover {
    background-color: #f4c542;
    color: #0a2540;
}

#kontenti {
    padding: 5rem;
    text-align: center;
}

#kontenti header {
    margin-bottom: 1rem;
}
div #ShikoMEShumeID{
    margin: 71px 0px 44px 0px;
}
#kontenti #slideshow {
    width: 659px;
    height: 362px;
    border-radius: 10px;
    object-fit: cover; /* Siguron që fotot përshtaten mirë brenda madhësisë */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.next-btn {
    background-color: #0a2540;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: -7px;
    display: inline-block; /* Qëndron në të njëjtën faqe */
}

.next-btn:hover {
    background-color: #f4c542;
}

#kontenti .next-btn-container {
    text-align: center;
    margin-top: 1rem;
}

#categories {
    background-color: #f2f8fc;
    padding: 4rem 2rem;
}

#categories header {
    text-align: center;
    margin-bottom: 2rem;
    
}

#categories h2 {
    font-size: 36px;
    color: #0a2540;
}
div #kategoritText{
    margin-top: 122px;
    margin-bottom: 43px;
}

.categories-grid {
    display: grid; /* Aktivizon grid-in */
    grid-template-columns: repeat(5, 1fr); /* 5 kolona të barabarta */
    gap: 10px; /* Distancë mes fotove */
    padding: 10px; /* Hapësirë rreth rrjetit */
}

.categories-grid img {
    width: 100%; /* Bën fotot të përshtaten brenda kolonave */
    height: 170px ; /* Ruhet proporcioni i fotove */
    border-radius: 5px; /* Opsionale: Kënde të rrumbullakosura */
    margin-top: 20px;
}

.category-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 29px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.category-card h3 {
    font-size: 20px;
    color:  #0a2540;
    padding: 10px;
    margin: 0;
}

.category-card p {
    font-size: 16px;
    color: #0a2540;
    padding: 0 10px 10px;
}



div .category-link{
    color:white;
}